.btn {
    background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
    border: 1px solid #EB5939;
    // border-image-source: linear-gradient(180deg, #EB5939 0%, #F3A157 100%);
    // box-shadow: 0px 96px 27px 0px rgba(248, 131, 27, 0);
    color: #fff;
    border-radius: 3rem;
    padding: 10px 30px 10px 30px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    &:hover {
        color: #fff;
    }
}