.aboutBanner {
    background: #000;
    &img {
        position: relative;
        max-width: 100%;
        min-height: 100vh;
    }
    &_ {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 60%;
        display: flex;
        align-items: center;
        gap: 4rem;
        &_left {
            width: 50%;
            h2 {
                font-size: 7rem;
            }
            color: #fff;
            p {
                font-size: 1.7rem;
                font-style: italic;
            }
        }
        &_right {
            background: #D9D9D914;
            padding: 4rem 3rem;
            h3 {
                color: #fff;
                font-size: 3.4rem;
                font-weight: 500;
            }
            .quoteBox {
                input {
                    width: 100%;
                    padding: 1rem;
                    background: transparent;
                    border: 2px solid transparent;
                    border-bottom-color: #282828;
                    margin-bottom: 1rem;
                    outline: #282828;
                    color: #fff;
                }
            }
            .btn {
                margin-top: 3rem;
            }
        }
    }
}

.sectionabout {
    position: relative;
    padding: 6rem 0;
    .block__inner {
        position: relative;
        z-index: 2;
    }
    &h {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        h4 {
            font-size: 6rem;
            text-transform: uppercase;
        }
        p {
            font-size: 1.4rem;
        }
    }
    .textback {
        position: absolute;
        left: 8rem;
        top: -7rem;
        font-size: 10rem;
        z-index: -2;
        color: #f7f7f7;
        text-transform: uppercase;
        text-wrap: nowrap;
        font-weight: 400;
        line-height: 1;
    }
    .imageback {
        position: absolute;
        left: 0;
        top: 15rem;
        img {
            max-width: 100%;
        }
    }
    &Box {
        display: flex;
        border: 1px solid #ddd;
        background: #fff;
        border-radius: .5rem;
        padding: 1rem 5rem;
        align-items: center;
        margin: 12rem 0;
        h6 {
            width: 40rem;
            font-size: 3rem;
        }
        p {
            font-size: 1.4rem;
        }
        &2 {
            h2 {
                font-size: 3.6rem;
            }
            &_ {
                gap: 4rem;
                display: flex;
                ul {
                    list-style: none;
                    li {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            left: -30px;
                            top: 0px;
                            // transform: translateY(-50%);
                            background: url(../webImages/111.png) no-repeat;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

.portfolioBanner {
    background: #000 url(../webImages/banner/banner3.png) no-repeat;
    background-size: cover;
    padding: 8rem 4rem;
    color: #fff;
    text-align: center;
    &text {
        .humber {
            text-align: left;
            display: flex;
            list-style: none;
            gap: 1rem;
            align-items: center;
            li {
                color: #fff;
                a,
                span {
                    color: #6B6B6B;
                }
            }
        }
        width: 60%;
        text-align: center;
        margin: 0 auto;
        margin-top: 5rem;
    }
    h1 {
        text-transform: uppercase;
    }
    p {
        font-style: italic;
    }
}

.sectionbebek {
    img {
        width: 100%;
    }
}

.sectionContact {
    padding: 8rem 0;
    h6 {
        font-weight: 500;
        text-transform: uppercase;
    }
    h3 {
        font-weight: 500;
        font-size: 4.4rem;
        text-transform: uppercase;
    }
    &_ {
        display: flex;
        gap: 2rem;
        form {
            .flexBox {
                gap: 1rem;
            }
        }
        &_input {
            position: relative;
            gap: 1rem;
            width: 100%;
            margin: 2rem 0;
            input,
            select,
            textarea {
                width: 100%;
                height: 4rem;
                padding-top: 1rem;
                padding-left: 1rem;
                font-size: 1.6rem;
                border: none;
                border-bottom: 1px solid #c9c9c9;
                color: #484848;
                outline: #484848;
                background: transparent;
            }
            textarea {
                padding-top: 2rem;
                height: 10rem;
            }
            label {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 4%;
                transition: .3s;
                font-weight: 500;
                color: #000;
                z-index: -1;
            }
             ::placeholder {
                color: #fff;
            }
            input:focus+label,
            input:not(:placeholder-shown)+label {
                top: 0%;
                font-size: 1.2rem;
                left: 0;
            }
        }
        &_left {
            width: 70%;
        }
        &_right {
            width: 30%;
            iframe {
                height: 100%;
                width: 100%;
                border: transparent;
                border-radius: 2rem;
            }
        }
    }
}

.sectionBLog {
    padding: 6rem 0 20rem;
    &Main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        &Card {
            &Img {
                position: relative;
                z-index: 1;
                border-radius: 1rem 1rem 0 0;
                overflow: hidden;
                transition: .3s;
                img {
                    width: 100%;
                    transition: .3s;
                }
            }
            &:hover {
                .sectionBLogMainCardImg {
                    img {
                        transform: scale(1.2) rotate(5deg);
                    }
                }
            }
            &Body {
                position: relative;
                z-index: 2;
                padding: 2rem 2rem 4rem;
                border-radius: 1rem;
                border: 1px solid #ddd;
                margin-top: -1rem;
                background: #fff;
                &Top {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                }
                &Bottom {
                    h4 {
                        font-size: 2rem;
                        text-transform: capitalize;
                        margin: 2rem 0;
                        font-weight: 500;
                    }
                    p {
                        line-height: 1.8;
                        margin-bottom: 3rem;
                    }
                    .btn {
                        padding: 1rem 3rem;
                        font-size: 1.4rem;
                        &:hover {
                            background: linear-gradient(180deg, #1b1b1b 0%, #797979 100%), linear-gradient(180deg, #303030 55.7%, #44423f 100%, #FE980E 100%);
                            border: 1px solid #000000;
                        }
                    }
                }
            }
        }
    }
    position: relative;
    .moreCOntant {
        position: absolute;
        bottom: -19rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content;
        img.img1 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            animation: rotate 5s linear infinite;
        }
        img.img2 {
            max-width: 100%;
        }
    }
}

@keyframes rotate {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}

.blogInner {
    padding: 8rem 0;
    &Main {
        display: grid;
        grid-template-columns: 6.5fr 3.5fr;
        gap: 4rem;
        &Left {
            &Img {
                img {
                    width: 100%;
                    max-height: 25rem;
                    object-fit: cover;
                    border-radius: 2rem;
                }
            }
            &Body {
                &Top {
                    justify-content: space-between;
                    margin: 1rem 0;
                }
                &bottom {
                    h4 {
                        margin: 2rem 0;
                    }
                    h5 {
                        font-weight: 600;
                        font-size: 2.5rem;
                    }
                }
            }
        }
        &Right {
            .searchBox {
                padding: 2rem 3rem;
                border: 1px solid #ddd;
                margin: 1rem 0;
                h3 {
                    font-weight: 500;
                }
                &_input {
                    position: relative;
                    i {
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    input {
                        width: 100%;
                        height: 4rem;
                        border-radius: .3rem;
                        background: #f3f6fc;
                        border: 1px solid #f3f6fc;
                        outline: #1b1b1b;
                        padding: 0 1rem;
                    }
                }
            }
            .categoriesBox {
                padding: 2rem 3rem;
                border: 1px solid #ddd;
                h3 {
                    font-weight: 500;
                }
                li {
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid #ddd;
                    margin: 1rem 0;
                }
            }
            .recentpostBox {
                &Main {
                    display: flex;
                    gap: 2rem;
                    margin: 2rem 0;
                    &_left {
                        width: 40%;
                        img {
                            width: 100%;
                            border-radius: 1rem;
                        }
                    }
                    &_right {
                        span {
                            font-size: 1.1rem;
                        }
                        h6 {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

.sectionSEO {
    padding: 10rem 0;
    &Main {
        background: #fff;
        box-shadow: 0 0 10px #ddd;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 3rem;
        &_top {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 2rem;
            &Box {
                span {
                    color: #868686;
                }
                img {
                    max-width: 100%;
                }
            }
        }
        &_bottom {
            margin: 1rem 0;
            .heaa {
                color: #868686;
            }
            &_ {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem 2rem;
                margin-top: 1rem;
                &BOx {
                    background: #FFEFE9;
                    border-radius: .5rem;
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        text-transform: capitalize;
                    }
                    div {
                        background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
                        border: 1px solid #EB5939;
                        border-radius: .5rem;
                        padding: 1rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.sectionbebek2 {
    padding: 4rem 0;
    background: url(../webImages/bebek/image4.png) no-repeat;
    background-size: 100%;
    &Top {
        justify-content: space-between;
        align-items: center;
        b {
            text-transform: uppercase;
            font-size: 2rem;
        }
        img {
            width: 20rem;
        }
    }
    &Center {
        width: 55%;
        margin: 0 auto;
        p {
            font-weight: 600;
            font-size: 3.5rem;
            font-family: 'Chakra Petch', sans-serif;
            text-align: center;
        }
    }
    &Center2 {
        position: relative;
        width: 55%;
        margin: 0 auto;
        img {
            width: 100%;
        }
        span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-weight: 800;
            font-family: 'Chakra Petch', sans-serif;
            font-size: 7rem;
            text-transform: uppercase;
            line-height: 0.8;
            text-align: center;
        }
    }
    &Center3 {
        position: relative;
        width: 55%;
        margin: 0 auto;
        .img1 {
            width: 80%;
            margin: 0 auto;
            margin-top: -14rem;
            display: block;
        }
        .img2 {
            width: 10rem;
            position: absolute;
            bottom: 1rem;
            left: 30rem;
        }
    }
}

.mySwiper3 {
    display: none;
}

@media screen and (max-width: 979px) {
    .mySwiper3 {
        display: block;
    }
    .mySwipercc {
        display: none;
    }
}