@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  overflow: hidden;
  width: 100%;
}

@font-face {
  font-family: "Chillax-Variable";
  src: url("../css/fonts/Chillax-Variable.woff2") format("woff2"), url("../css/fonts/Chillax-Variable.woff") format("woff"), url("../css/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Extralight";
  src: url("../css/fonts/Chillax-Extralight.woff2") format("woff2"), url("../css/fonts/Chillax-Extralight.woff") format("woff"), url("../css/fonts/Chillax-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Light";
  src: url("../css/fonts/Chillax-Light.woff2") format("woff2"), url("../css/fonts/Chillax-Light.woff") format("woff"), url("../css/fonts/Chillax-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Regular";
  src: url("../css/fonts/Chillax-Regular.woff2") format("woff2"), url("../css/fonts/Chillax-Regular.woff") format("woff"), url("../css/fonts/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Medium";
  src: url("../css/fonts/Chillax-Medium.woff2") format("woff2"), url("../css/fonts/Chillax-Medium.woff") format("woff"), url("../css/fonts/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Semibold";
  src: url("../css/fonts/Chillax-Semibold.woff2") format("woff2"), url("../css/fonts/Chillax-Semibold.woff") format("woff"), url("../css/fonts/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Bold";
  src: url("../css/fonts/Chillax-Bold.woff2") format("woff2"), url("../css/fonts/Chillax-Bold.woff") format("woff"), url("../css/fonts/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../css/fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../css/fonts/ClashDisplay-Variable.woff") format("woff"), url("../css/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("../css/fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../css/fonts/ClashDisplay-Extralight.woff") format("woff"), url("../css/fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Light";
  src: url("../css/fonts/ClashDisplay-Light.woff2") format("woff2"), url("../css/fonts/ClashDisplay-Light.woff") format("woff"), url("../css/fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../css/fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../css/fonts/ClashDisplay-Regular.woff") format("woff"), url("../css/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../css/fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../css/fonts/ClashDisplay-Medium.woff") format("woff"), url("../css/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../css/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../css/fonts/ClashDisplay-Semibold.woff") format("woff"), url("../css/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../css/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../css/fonts/ClashDisplay-Bold.woff") format("woff"), url("../css/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* ------------------Typography------------------ */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 1.4rem;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-thumb {
  background: #EB5939;
  border-radius: 1rem 0px 1rem 0px;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin: 1rem 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
}

h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify_center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.justify_space {
  justify-content: space-between;
}

.grid {
  display: grid;
}
.grid-col90 {
  grid-template: auto/5fr 90fr 5fr;
}
.grid-col90 .block__inner {
  grid-column: 3/2;
}
.grid-col80 {
  grid-template: auto/10fr 80fr 10fr;
}
.grid-col80 .block__inner {
  grid-column: 3/2;
}
.grid-col70 {
  grid-template: auto/15fr 70fr 15fr;
}
.grid-col70 .block__inner {
  grid-column: 3/2;
}
.grid-col60 {
  grid-template: auto/20fr 60fr 20fr;
}
.grid-col60 .block__inner {
  grid-column: 3/2;
}
.grid-col50 {
  grid-template: auto/25fr 50fr 25fr;
}
.grid-col50 .block__inner {
  grid-column: 3/2;
}
.grid-col40 {
  grid-template: auto/30fr 40fr 30fr;
}
.grid-col40 .block__inner {
  grid-column: 3/2;
}

.block__1x2 {
  grid-template: auto/repeat(2, 1fr);
}
.block__1x3 {
  grid-template: auto/repeat(3, 1fr);
}

.padding-vertical {
  padding: 4rem 0;
}

.flex_ {
  display: flex;
}

.flex_center {
  justify-content: center;
}

.flex_space {
  justify-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.align_center {
  align-items: center;
}

.vertical__padding {
  padding: 4rem 0;
}

.grid {
  display: grid;
}

.grid_2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid_3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid_4 {
  grid-template-columns: repeat(4, 1fr);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__item {
  line-height: 1.8;
}
.list-inline {
  display: flex;
}
.list-inline .list__item {
  font-weight: 500;
  text-transform: uppercase;
}

.btn {
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  border: 1px solid #EB5939;
  color: #fff;
  border-radius: 3rem;
  padding: 10px 30px 10px 30px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.media__img {
  width: 30%;
}
.media__img img {
  width: 100%;
}
.media__body {
  width: 70%;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 1rem 0;
}
.header.headerBlack {
  position: relative;
  background: #000 url(../webImages/banner/banner3.png) no-repeat;
  background-size: cover;
}
.header__left ul, .header__right ul {
  gap: 3rem;
}
.header__left ul a, .header__right ul a {
  font-size: 1.6rem;
  color: #fff;
}
.header__right-dropdown {
  position: absolute;
  left: 5%;
  margin-top: 1rem;
  width: 90%;
  transform: scaleY(0);
  transition: 0.5s;
  transform-origin: top left;
  border: 2px solid #ababab;
  padding: 3rem 2rem;
  display: flex;
}
.header__right-dropdown ul {
  list-style: none;
  padding: 0%;
}
.header__right-dropdown::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  inset: 0;
  background: rgb(82, 82, 82);
  filter: blur(6px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
}
.header__right-dropdown-Box {
  position: relative;
  border-left: 2px solid #EB5939;
  padding: 0 1rem;
}
.header__right-dropdown-Box:first-child {
  border-left: unset;
}
.header__right-dropdown-Box-top {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__right-dropdown-Box-top img {
  width: 3rem;
}
.header__right-dropdown-Box-top h4 {
  font-size: 1.5rem;
  color: #fff;
}
.header__right-dropdown-Box-bottom a {
  font-size: 1.3rem !important;
  padding: 0.2rem 0;
  transition: 0.3s;
}
.header__right-dropdown-Box-bottom a:hover {
  color: #EB5939;
}
.header__right > ul .closeIcon {
  display: none;
}
.header__right > ul .mobileBlock {
  display: none;
}
.header__right-nav {
  display: none;
}
.header__center {
  padding: 0 3rem;
}
.header__center--right h1 {
  font-size: 3.9rem;
  font-family: "Chillax-Semibold";
  color: #fff;
}
.header__center--right h1 span {
  color: #EB5939;
  font-weight: 300;
}
.header li {
  padding: 1rem 0;
}
.header li:hover .header__right-dropdown, .header li.active .header__right-dropdown {
  transform: scaleY(1);
}
.header .socialIcon {
  position: absolute;
  right: 2%;
}
.header .socialIcon a {
  transition: 0.3s;
}
.header .socialIcon a img {
  transition: 0.3s;
}
.header .socialIcon a:hover img {
  transform: rotate(360deg);
}
.headertopimg {
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 979px) {
  .grid-col60 {
    grid-template: auto/5fr 90fr 5fr;
  }
  .header .closeIcon {
    display: block !important;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 3rem;
  }
  .header .justify_center {
    justify-content: space-between;
  }
  .header .socialIcon {
    display: none;
  }
  .header__left {
    display: none;
  }
  .header__right > ul {
    position: fixed;
    width: 30rem;
    background: #fff;
    height: 100vh;
    left: -100%;
    z-index: 9;
    top: 0;
    display: block;
    padding-top: 8rem;
    transition: 0.5s;
  }
  .header__right > ul li {
    display: block !important;
  }
  .header__right > ul li a {
    padding: 1rem 2rem;
    display: block;
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  .header__right.active ul {
    left: 0%;
  }
  .header__right-nav {
    display: block;
  }
  .header__right-dropdown {
    flex-direction: column;
    top: -5px;
    right: -90%;
    left: auto;
    height: 98vh;
    overflow: auto;
    background: #000;
  }
  .header__right-dropdown::before {
    display: none;
  }
  .header__right-dropdown-Box:first-child {
    border-left: 2px solid #EB5939;
  }
  .header__right > ul ul li a {
    color: #fff;
  }
}
.banner {
  position: relative;
  z-index: 1;
}
.banner .main1 {
  background: #000000;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .main2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.bannerTxt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  left: 10%;
  width: 40%;
}
.bannerTxt h2 {
  color: #fff;
  font-size: 6rem;
  font-weight: 800;
}
.bannerTxt h2 span {
  color: #EB5939;
}
.bannerTxt_2 {
  margin: 3rem 0 5rem;
  padding-left: 5rem;
}
.bannerTxt_2 li {
  gap: 2rem;
}
.bannerTxt_2 li img {
  -o-object-fit: contain;
     object-fit: contain;
}
.bannerTxt_2 li span {
  font-size: 1.7rem;
  font-style: italic;
  color: #fff;
}
.bannerTxt2 {
  position: absolute;
  z-index: 3;
  background: rgba(217, 217, 217, 0.08);
  border-radius: 2rem;
  bottom: 10%;
  right: 10%;
  width: 40%;
  color: #fff;
  padding: 1rem;
}
.bannerTxt2__left {
  position: relative;
  left: -3rem;
}
.bannerTxt2 h3 {
  font-size: 1.6rem;
  font-size: 500;
}
.bannerTxt2 span {
  width: 1.4rem;
  position: relative;
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  /* border: 4px solid; */
  /* border-image-source: linear-gradient(180deg, #EB5939 0%, #F3A157 100%); */
  height: 40px;
  display: block;
  margin-right: 0.7rem;
  border-radius: 1rem;
}
.bannerTxt2 p {
  display: flex;
  font-size: 1rem;
}
.bannerTxt2 .bannerTxt2img {
  align-self: flex-end;
}

.section1 {
  background: #1e1e1e;
}

.section1 h2 {
  text-align: center;
  font-size: 4.5rem;
  color: #fff;
  font-weight: 400;
}

.section2 {
  position: relative;
  padding: 10rem 0;
}
.section2Back {
  position: absolute;
  left: -8rem;
  top: -4rem;
  font-size: 35rem;
  z-index: -2;
  color: #f7f7f7;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 1;
}
.section2 .block__inner {
  position: relative;
}
.section2_middle {
  margin: 4rem 0;
}
.section2_middle ul {
  gap: 3rem;
}
.section2_middle ul li h4 {
  position: relative;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.section2_middle ul li h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: #EB5939;
  border-radius: 50%;
}
.section2_middle ul li p {
  font-size: 1.2rem;
}
.section2__bottom {
  gap: 8rem;
}
.section2__bottom .btn {
  font-size: 2rem;
  font-size: 1.4rem 5rem;
}
.section2__bottom ul {
  gap: 4rem;
}
.section2__bottom ul li h3 {
  font-size: 5rem;
}
.section2__bottom ul li h3,
.section2__bottom ul li p {
  margin: 0;
  font-family: "ClashDisplay-Medium";
}

.section2_top {
  position: relative;
}
.section2_top h2 {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
}
.section2_top .img1 {
  position: absolute;
  right: 33%;
  top: 37%;
  z-index: -1;
  width: 46%;
}
.section2_top .img2 {
  position: absolute;
  right: 33%;
  top: 35%;
  z-index: -1;
  width: 46%;
}

.section3 {
  position: relative;
  padding: 10rem 0;
  background: #000000;
}
.section3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40rem;
  background: linear-gradient(0deg, #000000 27.41%, rgba(28, 28, 28, 0) 87.24%);
}
.section3_img {
  position: absolute;
  top: 30%;
  left: 3rem;
  width: 6.8rem;
}
.section3_img img {
  animation: rotate 5s linear infinite;
}
.section3_img2 {
  position: absolute;
  bottom: 2%;
  right: 6rem;
  width: 3rem;
}
.section3_img2 img {
  animation: rotate 5s linear infinite;
}
.section3_img3 {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 14rem;
  z-index: 1;
}
.section3Main {
  display: flex;
  color: #fff;
  position: relative;
}
.section3Main__left {
  width: 35%;
  border-right: 1px solid rgb(61, 61, 61);
  border-bottom: 1px solid rgb(61, 61, 61);
  padding: 1rem;
  padding-right: 2rem;
  position: relative;
}
.section3Main__left h3 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
  margin-top: 2rem;
}
.section3Main__left ul {
  margin-top: 3rem;
}
.section3Main__left ul li {
  text-align: right;
  position: relative;
  color: #383838;
  font-size: 2.1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.section3Main__left ul li div {
  position: relative;
}
.section3Main__left ul li div::before {
  content: "";
  position: absolute;
  left: -1.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: #EB5939;
  border-radius: 50%;
}
.section3Main__left ul li span {
  color: #FFFFFF;
}
.section3Main__right {
  position: relative;
  width: 65%;
  padding: 2rem;
  border-bottom: 1px solid rgb(61, 61, 61);
}
.section3Main__right h2 {
  font-size: 10rem;
  text-transform: uppercase;
  color: rgb(48, 48, 48);
  font-weight: 400;
  line-height: 0.8;
}
.section3Main__right ul li {
  margin: 1rem 0;
}
.section3Main2 {
  transition: 0.3s;
}
.section3Main2::before {
  content: "";
  transition: 0.3s;
}
.section3Main2:hover::before {
  position: absolute;
  left: -21%;
  background: rgb(22, 22, 22);
  width: 142%;
  height: 100%;
  border-radius: 7rem;
}
.section3Main2 .section3Main__left {
  padding: 4rem 2rem;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  text-align: right;
}
.section3Main2 .section3Main__left h6 {
  font-size: 2.4rem;
}
.section3Main2 .section3Main__right {
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}
.section3Main2 .section3Main__right p {
  margin: 0;
  font-size: 1.3rem;
  width: 70%;
}
.section3Main2 .section3Main__right-img {
  position: absolute;
  right: 0;
  transform: translateY(-8px);
}
.section3Main2 .section3Main__right-img img {
  width: 14rem;
  position: relative;
  z-index: 2;
}
.section3Main2 .section3Main__right-img span {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  background: #EB5939;
  border-radius: 50%;
}

.swiper-slidetest h4 {
  display: none;
}

.section4 {
  background: rgb(31, 31, 31);
  padding: 10rem 0;
  position: relative;
}
.section4__img {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}
.section4__img img {
  width: 8rem;
}
.section4 h2 {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.9;
}
.section4__bottom {
  padding: 3rem 1rem;
  display: flex;
  gap: 3rem;
  width: 90%;
}
.section4__bottom_body {
  color: #fff;
}
.section4__bottom_body p {
  font-size: 12px;
  line-height: 1.4;
}
.section4__bottom_body h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.section5 {
  position: relative;
  padding: 5rem 0;
}
.section5 .block__inner {
  min-width: 0;
}
.section5Back {
  position: absolute;
  left: -8rem;
  top: -4rem;
  font-size: 35rem;
  z-index: -2;
  color: #f7f7f7;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 1;
}
.section5Main {
  -moz-columns: 2;
       columns: 2;
}
.section5MainSwiper {
  display: none;
}
.section5MainBottom {
  display: none;
}
.section5MainB h4 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 2rem;
}
.section5MainB h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4%;
  width: 1rem;
  height: 1rem;
  background: #EB5939;
  border-radius: 50%;
}
.section5MainB h2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
}
.section5MainBImg {
  position: relative;
  padding: 3rem;
  z-index: 2;
}
.section5MainBImg .img2 {
  position: absolute;
  width: 90%;
  left: -5rem;
  top: 0;
}
.section5MainBImg .img3 {
  position: absolute;
  width: 90%;
  left: 4rem;
  top: 2rem;
}
.section5MainBImg .section5MainBo {
  position: absolute;
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  z-index: -1;
  right: 0;
  top: 0;
}
.section5MainBImg .img1 {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: 0.3s;
  outline: 1px solid transparent;
  z-index: 2;
  outline-offset: 15px;
}
.section5MainBImg .img1:hover {
  outline-color: #EB5939;
}
.section5MainBox {
  margin-top: 2rem;
}
.section5MainBox ul {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.section5MainBox li div {
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
  background: #000000;
  border-radius: 2rem;
  transition: 0.3s;
}
.section5MainBox li div:hover {
  color: #EB5939;
}

.section6 {
  background: rgb(255, 249, 244);
  padding: 6rem 0;
}
.section6 .block__inner {
  min-width: 0;
}
.section6_ {
  display: grid;
  grid-template-columns: 1.2fr 0.4fr;
}
.section6__left h3 {
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  font-size: 2.6rem;
}
.section6__left h2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.8;
}
.section6__right {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.section6__right img {
  cursor: pointer;
}
.section6Main {
  min-width: 0;
  margin-top: 4rem;
}
.section6MainBox_top {
  display: flex;
  gap: 1rem;
}
.section6MainBox_top h4 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.section6MainBox_body p {
  font-size: 1.2rem;
}

.section7 {
  position: relative;
  background: #000 url(../webImages/Rectangle462.png) no-repeat;
  background-size: cover;
  padding: 6rem 0;
  z-index: -1;
}
.section7 .block__inner {
  min-width: 0;
}
.section7 .section7e {
  position: absolute;
  top: -10px;
  z-index: 0;
  display: flex;
  gap: 8px;
}
.section7 .section7e span {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background: rgb(255, 249, 244);
}
.section7 .img1 {
  position: a;
}
.section7 .img2 {
  position: absolute;
  top: 4rem;
  left: -18rem;
  width: 37rem;
  filter: brightness(41);
}
.section7_top {
  text-align: center;
}
.section7_top h6 {
  color: #EB5939;
}
.section7_top span {
  width: 1rem;
  position: relative;
  height: 1rem;
  background: #EB5939;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.section7_top h2 {
  color: #fff;
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 62%;
  margin: 0 auto;
  text-align: center;
}
.section7Main {
  margin-top: 3rem;
}
.section7Main.d-none {
  display: none;
}
.section7Main .swiper-wrapper2 {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  justify-content: center;
}
.section7Main .swiper-wrapper2 .swiper-slide3 {
  width: 30.6%;
  margin-bottom: 8rem;
}
.section7MainBox__img {
  position: relative;
}
.section7MainBox__img img {
  width: 100%;
  border-radius: 50%;
}
.section7MainBox__body {
  text-align: center;
}
.section7MainBox__body h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
}
.section7MainBox__body h6 {
  color: rgb(235, 89, 57);
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}
.section7Main2 {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.section7Main2 .img3 {
  position: absolute;
  top: 1rem;
  right: -12rem;
}
.section7Main2btn {
  border: 2px solid #EB5939;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 3rem;
  justify-content: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.section7Main2 p {
  text-align: center;
  font-size: 1.4rem;
  color: #848484;
}
.section7Main3 ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section8 {
  position: relative;
  padding: 2rem 0;
  background: linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
}
.section8 img {
  width: 100%;
  transition: 0.3s;
}
.section8 img:hover {
  transform: scale(1.2);
}

.section9 {
  padding: 6rem 0;
}
.section9 h2 {
  font-size: 5rem;
  text-align: center;
  font-weight: 400;
}
.section9Main {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3rem;
}
.section9Main__left {
  position: relative;
}
.section9Main__left-img {
  width: 100%;
}
.section9Main__left-img2 {
  position: absolute;
  left: -6rem;
  top: 43%;
  transform: translateY(-50%);
  width: 24rem;
}
.section9Main__right h3 {
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 2rem;
}
.section9Main__right p {
  position: relative;
  padding-left: 2rem;
  font-size: 1.2rem;
}
.section9Main__right p::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  width: 4px;
  height: 100%;
  left: 0;
}

.section10 {
  position: relative;
  background: #000 url(../webImages/24.png) no-repeat;
  background-size: cover;
  padding: 5rem 0;
}
.section10 .img1 {
  position: absolute;
  bottom: -6rem;
  right: 30%;
}
.section10_ {
  display: flex;
  justify-content: space-between;
}
.section10_right {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #fff;
}
.section10_right img {
  width: 10rem;
}
.section10_rightB h5 {
  font-size: 7rem;
  line-height: 0.7;
}
.section10 .main1 {
  width: 100%;
}
.section10_left {
  color: #fff;
}
.section10_left h3 {
  position: relative;
  font-size: 6rem;
  text-transform: uppercase;
}
.section10_left h3::before {
  content: "";
  position: absolute;
  left: -1.6rem;
  top: 20%;
  width: 1rem;
  height: 1rem;
  background: #EB5939;
  border-radius: 50%;
}
.section10Main {
  margin-top: 4rem;
}
.section10MainBox {
  color: #fff;
  text-align: center;
}
.section10MainBox h2 {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 400;
}
.section10MainBox p {
  font-size: 1.2rem;
}
.section10MainBox h5 {
  font-size: 2rem;
  color: #EB5939;
}
.section10MainBox h6 {
  font-size: 2rem;
}
.section10Button {
  display: none;
}

.section11_isolation_img {
  height: 49px;
  width: 47px;
  place-self: end;
  margin-bottom: 10px;
}

.section11_1 {
  padding-top: 9%;
  display: flex;
  margin-left: 10%;
}

.section11_1_heading {
  width: 650px;
}

.section11_1_heading > p {
  margin: 0;
  color: black;
  font-size: 6rem;
  font-weight: 400;
  word-wrap: break-word;
}

.section11_1_btn {
  margin-left: 10%;
  margin-right: 9%;
}

.section11_1_btn > button {
  display: flex;
  padding: 2rem 6rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 102px;
  background-color: white;
  border: 2px solid #EB5939;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 160% */
  text-transform: uppercase;
}

.section11_2 {
  padding-top: 4%;
  padding-bottom: 9%;
  position: relative;
}

.section11_2_text_box {
  /* border-top: #d6d6d6 1px solid; */
  max-width: 80%;
  margin-left: 4%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section11_2_topline {
  margin: 0;
  max-width: 80%;
  margin-left: 4%;
  border-top: #d6d6d6 1px solid;
}

.section11_2_text_box > p {
  font-weight: 700;
}

.section11_2_arrow_img {
  display: none;
}

.section11_2_arrow_img > img {
  width: 25px;
  margin-left: 10px;
  /* display: none; */
}

.section11_2_dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff7800;
  position: absolute;
  left: 1.2%;
  display: none;
}

.section11_2_box_sec:hover {
  background-color: #e9e9e9;
  border-radius: 144px;
}

.section11_2_text_box:hover .section11_2_dot {
  display: block;
}

.section11_2_text_box:hover .section11_2_arrow_img {
  display: block;
}

.box-wrap {
  position: relative;
  display: flex;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
  border-radius: 10000px;
  border: 1.5px solid #000;
  background: #000;
  padding: 16px 24px;
  position: relative;
  color: white;
}

.box1 .triangle-arrow1 {
  position: absolute;
  left: 119px;
  top: 17px;
}

.box1 .triangle-arrow2 {
  position: absolute;
  left: 30px;
  top: 46.5px;
}

.box2 {
  left: 9px;
}

.box3 {
  top: 8px;
  z-index: -1;
}

.box3 .triangle-arrow3 {
  position: absolute;
  left: 71.5px;
}

.box4 {
  top: 9px;
  left: 15px;
}

.triangle-arrow4 {
  position: absolute;
  top: 56.5px;
  left: 30px;
}

.box5 {
  top: 17px;
}

.boox {
  cursor: pointer;
  transition: 0.3s;
}

.boox:hover {
  color: #EB5939;
}

.bannerTxt .bannerTxt2 {
  display: none;
}

.section5h {
  display: none;
}

@media screen and (max-width: 1220px) {
  .bannerTxt h2 {
    font-size: 4.3rem;
  }
  .bannerTxt {
    top: 57% !important;
  }
}
@media screen and (max-width: 979px) {
  .section5h {
    display: block;
  }
  .banner .bannerTxt2 {
    display: none;
  }
  .banner .bannerTxt .bannerTxt2 {
    display: block;
  }
  .grid-col70 {
    grid-template: auto/5fr 90fr 5fr;
  }
  .banner {
    background: #000 url(../webImages/banner/banner1.png) no-repeat;
    background-size: cover;
    padding-bottom: 3rem;
  }
  .bannerTxt_2 {
    padding-left: 0;
  }
  .banner .main1 {
    display: none;
  }
  .banner .btn {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3rem auto 0;
  }
  .bannerTxt {
    position: relative;
    left: 0;
    width: 90%;
    top: 0%;
    transform: translateY(0%);
    text-align: center;
    right: 0;
    padding-top: 15rem;
    margin: 0 auto;
  }
  .bannerTxt h2 {
    font-size: 4rem;
  }
  .bannerTxt_2 li {
    justify-content: center;
  }
  .bannerTxt_2 li img {
    display: none;
  }
  .bannerTxt_2 li span {
    font-size: 2.5rem;
    text-align: center;
  }
  .banner .bannerTxt2 {
    position: relative;
    z-index: 3;
    background: #121212;
    border-radius: 2rem;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #fff;
    padding: 3rem 2rem;
    flex-direction: column;
    text-align: left;
  }
  .banner .bannerTxt2__left {
    display: none;
  }
  .section1 h2 {
    font-size: 2.5rem;
  }
  .section2_top br {
    display: none;
  }
  .section2_top h2 {
    font-size: 5rem;
  }
  .section2_middle ul {
    flex-direction: column;
    gap: 0;
  }
  .section2__bottom {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .section2__bottom img {
    position: absolute;
    right: 6rem;
    top: 6rem;
  }
  .section2__bottom ul {
    flex-direction: column;
  }
  .section2__bottom .btn {
    order: 5;
  }
  .section4 h2 {
    font-size: 3rem;
  }
  .section3_img2 {
    display: none;
  }
  .section3 .block__inner {
    min-width: 0;
  }
  .section3Main {
    flex-direction: column;
  }
  .section3Main__left {
    width: 100%;
    border: 1px solid transparent;
  }
  .section3Main__left ul li {
    justify-content: flex-start;
  }
  .section3Main__right {
    width: 100%;
    border: 1px solid transparent;
    display: none;
  }
  .section3Main__right p {
    width: 100% !important;
  }
  .section3Main__right-img {
    display: none;
  }
  .section3 .swiper-slidetest h4 {
    display: block;
    color: #fff;
  }
  .section3Main2 {
    border: 1px solid #ddd;
    display: block;
    padding: 1rem;
    text-align: left;
  }
  .section3Main2 .section3Main__left {
    display: block;
    text-align: left;
    padding: 0;
  }
  .section3Main2 .section3Main__right {
    display: block;
    padding: 0;
  }
  .section3_img {
    position: absolute;
    top: 11%;
    left: auto;
    width: 6.8rem;
    right: 4rem;
  }
  .section4__bottom {
    flex-direction: column;
  }
  .section4__bottom_img {
    display: none;
  }
  .section7 {
    position: relative;
    z-index: 2;
  }
  .section7_top h2 {
    font-size: 4rem;
    width: 100%;
  }
  .section7Main .swiper-wrapper2 {
    flex-wrap: unset;
  }
  .section7Main2 p {
    display: none;
  }
  .section9 h2 {
    font-size: 4rem;
  }
  .section9Main {
    grid-template-columns: 1fr;
  }
  .section9Main__left {
    order: 2;
    margin-top: 2rem;
  }
  .section9Main__left-img2 {
    left: 0;
    right: 0;
    top: 43%;
    width: 20rem;
    margin: 0 auto;
  }
  .section10_ {
    flex-direction: column;
  }
  .section10_left h3 {
    font-size: 4rem;
  }
  .section10_left h3::before {
    left: 0;
    top: -20%;
  }
  .section10_right {
    justify-content: space-between;
  }
  .section10_right img {
    order: 2;
  }
  .section10_rightB {
    order: 1;
  }
  .section10_rightB h5 {
    font-weight: 400;
  }
  .section10Button {
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-top: 3rem;
  }
  .section11 {
    padding: 5rem 0;
  }
  .section11_1_heading > p {
    font-size: 4rem;
  }
  .section11_2 {
    padding: 0 2rem;
  }
  .section11_2text_box {
    max-width: 100%;
    margin-left: 0;
  }
  .section11_2_topline {
    max-width: 100%;
    margin-left: 0;
  }
  .section11_isolation_img {
    height: auto;
  }
  .section11_isolation_img img {
    width: 20px;
  }
  .section5MainBImg .section5MainBo {
    display: none;
  }
  .section5Main {
    column: unset;
  }
  .section5MainBottom {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .section11_1_btn {
    display: none;
  }
}
@media screen and (max-width: 461px) {
  .header__center--right h1 {
    font-size: 2.9rem;
  }
}
/* responsive 2nd last section */
.footer {
  position: relative;
  background: #000;
  color: #fff;
  padding: 5rem 0;
}
.footer .img1 {
  position: absolute;
  top: -8rem;
  left: 10%;
}
.footer__heading {
  padding: 0 0 4rem;
  margin-bottom: 6rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.footer h2 {
  text-align: center;
  font-size: 11rem;
  line-height: 0.9;
  text-transform: uppercase;
}
.footer h2 span {
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  -webkit-background-clip: text;
  /* Safari/Chrome */
  background-clip: text;
  color: transparent;
  /* Text color will be transparent */
  box-shadow: 0px 0px 0px 0px rgba(248, 131, 27, 0.25);
}
.footerMain {
  display: grid;
  grid-template-columns: 1fr 0.6fr 1.2fr;
  gap: 5rem;
}
.footerMainBoxs {
  display: flex;
  align-items: center;
}
.footerMainBoxs h3 {
  font-size: 4rem;
  font-weight: 400;
}
.footerMainBoxs p {
  font-size: 1.8rem;
}
.footerMainBox .menulist a {
  display: block;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.footerMainBox .menulist a:hover {
  color: #EB5939;
}
.footerMainBox li a {
  color: #fff;
}
.footerMainBoxlast {
  text-align: right;
}
.footerMainBoxlast .footerMainBox_ {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 3rem;
  border: 1px solid #fff;
  margin-left: auto;
}
.footerMainBoxlast .footerMainBox_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}
.footerMainBoxlast .footerMainBox_2 a {
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  -webkit-background-clip: text;
  /* Safari/Chrome */
  background-clip: text;
  color: transparent;
  /* Text color will be transparent */
}
.footerMainBoxlast h5 {
  font-size: 1rem;
  margin: 1rem 0;
}
.footerMainBoxlast p {
  width: 60%;
  text-align: right;
  margin-left: auto;
}
.footerMainBoxlast .menulist2 {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.footere {
  position: absolute;
  top: -10px;
  z-index: 0;
  display: flex;
  gap: 17px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
}
.footere .footeref {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
          clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background: rgb(255, 249, 244);
}
.footere .footeres {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
  background: rgb(255, 249, 244);
}

.drakfoo .footeref,
.drakfoo .footeres {
  background: #141414;
}

@media screen and (max-width: 979px) {
  .footer .img1 {
    left: auto;
    right: 0%;
  }
  .footere {
    display: none;
  }
  .footer h2 {
    font-size: 9rem;
  }
  .footer h2 div {
    font-size: 4rem;
  }
  .footerMain {
    grid-template-columns: 1fr;
  }
  .footerMainBoxs img {
    width: 3rem;
    margin-left: 2rem;
  }
  .footerMainBoxlast {
    text-align: left;
  }
  .footerMainBoxlast .footerMainBox_ {
    margin-left: 0;
  }
  .footerMainBoxlast .footerMainBox_2 {
    justify-content: flex-start;
  }
  .footerMainBoxlast p {
    text-align: left;
    width: 100%;
  }
  .footerMainBoxlast .menulist2 {
    justify-content: flex-start;
    flex-direction: column;
  }
}
.aboutBanner {
  background: #000;
}
.aboutBannerimg {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
}
.aboutBanner_ {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.aboutBanner__left {
  width: 50%;
  color: #fff;
}
.aboutBanner__left h2 {
  font-size: 7rem;
}
.aboutBanner__left p {
  font-size: 1.7rem;
  font-style: italic;
}
.aboutBanner__right {
  background: rgba(217, 217, 217, 0.0784313725);
  padding: 4rem 3rem;
}
.aboutBanner__right h3 {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 500;
}
.aboutBanner__right .quoteBox input {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #282828;
  margin-bottom: 1rem;
  outline: #282828;
  color: #fff;
}
.aboutBanner__right .btn {
  margin-top: 3rem;
}

.sectionabout {
  position: relative;
  padding: 6rem 0;
}
.sectionabout .block__inner {
  position: relative;
  z-index: 2;
}
.sectionabouth {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.sectionabouth h4 {
  font-size: 6rem;
  text-transform: uppercase;
}
.sectionabouth p {
  font-size: 1.4rem;
}
.sectionabout .textback {
  position: absolute;
  left: 8rem;
  top: -7rem;
  font-size: 10rem;
  z-index: -2;
  color: #f7f7f7;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 1;
}
.sectionabout .imageback {
  position: absolute;
  left: 0;
  top: 15rem;
}
.sectionabout .imageback img {
  max-width: 100%;
}
.sectionaboutBox {
  display: flex;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem 5rem;
  align-items: center;
  margin: 12rem 0;
}
.sectionaboutBox h6 {
  width: 40rem;
  font-size: 3rem;
}
.sectionaboutBox p {
  font-size: 1.4rem;
}
.sectionaboutBox2 h2 {
  font-size: 3.6rem;
}
.sectionaboutBox2_ {
  gap: 4rem;
  display: flex;
}
.sectionaboutBox2_ ul {
  list-style: none;
}
.sectionaboutBox2_ ul li {
  position: relative;
}
.sectionaboutBox2_ ul li::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0px;
  background: url(../webImages/111.png) no-repeat;
  width: 30px;
  height: 30px;
}

.portfolioBanner {
  background: #000 url(../webImages/banner/banner3.png) no-repeat;
  background-size: cover;
  padding: 8rem 4rem;
  color: #fff;
  text-align: center;
}
.portfolioBannertext {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
}
.portfolioBannertext .humber {
  text-align: left;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}
.portfolioBannertext .humber li {
  color: #fff;
}
.portfolioBannertext .humber li a,
.portfolioBannertext .humber li span {
  color: #6B6B6B;
}
.portfolioBanner h1 {
  text-transform: uppercase;
}
.portfolioBanner p {
  font-style: italic;
}

.sectionbebek img {
  width: 100%;
  vertical-align: bottom;
  margin: -1rem 0;
}

.sectionContact {
  padding: 8rem 0;
}
.sectionContact h6 {
  font-weight: 500;
  text-transform: uppercase;
}
.sectionContact h3 {
  font-weight: 500;
  font-size: 4.4rem;
  text-transform: uppercase;
}
.sectionContact_ {
  display: flex;
  gap: 2rem;
}
.sectionContact_ form .flexBox {
  gap: 1rem;
}
.sectionContact__input {
  position: relative;
  gap: 1rem;
  width: 100%;
  margin: 2rem 0;
}
.sectionContact__input input,
.sectionContact__input select,
.sectionContact__input textarea {
  width: 100%;
  height: 4rem;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #c9c9c9;
  color: #484848;
  outline: #484848;
  background: transparent;
}
.sectionContact__input textarea {
  padding-top: 2rem;
  height: 10rem;
}
.sectionContact__input label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  transition: 0.3s;
  font-weight: 500;
  color: #000;
  z-index: -1;
}
.sectionContact__input ::-moz-placeholder {
  color: #fff;
}
.sectionContact__input ::placeholder {
  color: #fff;
}
.sectionContact__input input:not(:-moz-placeholder-shown) + label {
  top: 0%;
  font-size: 1.2rem;
  left: 0;
}
.sectionContact__input input:focus + label,
.sectionContact__input input:not(:placeholder-shown) + label {
  top: 0%;
  font-size: 1.2rem;
  left: 0;
}
.sectionContact__left {
  width: 70%;
}
.sectionContact__right {
  width: 30%;
}
.sectionContact__right iframe {
  height: 100%;
  width: 100%;
  border: transparent;
  border-radius: 2rem;
}

.sectionBLog {
  padding: 6rem 0 20rem;
  position: relative;
}
.sectionBLogMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.sectionBLogMainCardImg {
  position: relative;
  z-index: 1;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  transition: 0.3s;
}
.sectionBLogMainCardImg img {
  width: 100%;
  transition: 0.3s;
}
.sectionBLogMainCard:hover .sectionBLogMainCardImg img {
  transform: scale(1.2) rotate(5deg);
}
.sectionBLogMainCardBody {
  position: relative;
  z-index: 2;
  padding: 2rem 2rem 4rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  margin-top: -1rem;
  background: #fff;
}
.sectionBLogMainCardBodyTop {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.sectionBLogMainCardBodyBottom h4 {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 2rem 0;
  font-weight: 500;
}
.sectionBLogMainCardBodyBottom p {
  line-height: 1.8;
  margin-bottom: 3rem;
}
.sectionBLogMainCardBodyBottom .btn {
  padding: 1rem 3rem;
  font-size: 1.4rem;
}
.sectionBLogMainCardBodyBottom .btn:hover {
  background: linear-gradient(180deg, #1b1b1b 0%, #797979 100%), linear-gradient(180deg, #303030 55.7%, #44423f 100%, #FE980E 100%);
  border: 1px solid #000000;
}
.sectionBLog .moreCOntant {
  position: absolute;
  bottom: -19rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.sectionBLog .moreCOntant img.img1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: rotate 5s linear infinite;
}
.sectionBLog .moreCOntant img.img2 {
  max-width: 100%;
}

@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
.blogInner {
  padding: 8rem 0;
}
.blogInnerMain {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  gap: 4rem;
}
.blogInnerMainLeftImg img {
  width: 100%;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
.blogInnerMainLeftBodyTop {
  justify-content: space-between;
  margin: 1rem 0;
}
.blogInnerMainLeftBodybottom h4 {
  margin: 2rem 0;
}
.blogInnerMainLeftBodybottom h5 {
  font-weight: 600;
  font-size: 2.5rem;
}
.blogInnerMainRight .searchBox {
  padding: 2rem 3rem;
  border: 1px solid #ddd;
  margin: 1rem 0;
}
.blogInnerMainRight .searchBox h3 {
  font-weight: 500;
}
.blogInnerMainRight .searchBox_input {
  position: relative;
}
.blogInnerMainRight .searchBox_input i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.blogInnerMainRight .searchBox_input input {
  width: 100%;
  height: 4rem;
  border-radius: 0.3rem;
  background: #f3f6fc;
  border: 1px solid #f3f6fc;
  outline: #1b1b1b;
  padding: 0 1rem;
}
.blogInnerMainRight .categoriesBox {
  padding: 2rem 3rem;
  border: 1px solid #ddd;
}
.blogInnerMainRight .categoriesBox h3 {
  font-weight: 500;
}
.blogInnerMainRight .categoriesBox li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  margin: 1rem 0;
}
.blogInnerMainRight .recentpostBoxMain {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}
.blogInnerMainRight .recentpostBoxMain_left {
  width: 40%;
}
.blogInnerMainRight .recentpostBoxMain_left img {
  width: 100%;
  border-radius: 1rem;
}
.blogInnerMainRight .recentpostBoxMain_right span {
  font-size: 1.1rem;
}
.blogInnerMainRight .recentpostBoxMain_right h6 {
  font-size: 1.3rem;
}

.sectionSEO {
  padding: 10rem 0;
}
.sectionSEOMain {
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 3rem;
}
.sectionSEOMain_top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
}
.sectionSEOMain_topBox span {
  color: #868686;
}
.sectionSEOMain_topBox img {
  max-width: 100%;
}
.sectionSEOMain_bottom {
  margin: 1rem 0;
}
.sectionSEOMain_bottom .heaa {
  color: #868686;
}
.sectionSEOMain_bottom_ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
  margin-top: 1rem;
}
.sectionSEOMain_bottom_BOx {
  background: #FFEFE9;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionSEOMain_bottom_BOx span {
  text-transform: capitalize;
}
.sectionSEOMain_bottom_BOx div {
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  border: 1px solid #EB5939;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
}

.sectionbebek2 {
  position: relative;
  padding: 4rem 0;
  background: url(../webImages/bebek/image4.png) no-repeat;
  background-size: 100%;
}
.sectionbebek2::before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #FFFFFF 30.4%, rgba(255, 255, 255, 0) 89.32%);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 11%;
}
.sectionbebek2Top {
  justify-content: space-between;
  align-items: center;
}
.sectionbebek2Top b {
  text-transform: uppercase;
  font-size: 2rem;
}
.sectionbebek2Top img {
  width: 20rem;
}
.sectionbebek2Center {
  width: 55%;
  margin: 0 auto;
}
.sectionbebek2Center p {
  font-weight: 600;
  font-size: 3.5rem;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
}
.sectionbebek2Center2 {
  position: relative;
  width: 55%;
  margin: 0 auto;
}
.sectionbebek2Center2 img {
  width: 100%;
}
.sectionbebek2Center2 span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 800;
  font-family: "Chakra Petch", sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
}
.sectionbebek2Center3 {
  position: relative;
  width: 55%;
  margin: 0 auto;
}
.sectionbebek2Center3 .img1 {
  width: 100%;
  margin: 0 auto;
  margin-top: -10rem;
  display: block;
}
.sectionbebek2Center3 .img2 {
  width: 10rem;
  position: absolute;
  bottom: 1rem;
  left: 30rem;
}
.sectionbebek2Center3 .img3 {
  width: 17rem;
  position: absolute;
  bottom: 12rem;
  left: 2rem;
}
.sectionbebek2Center3 .img4 {
  width: 17rem;
  position: absolute;
  top: 11rem;
  right: 2rem;
}
.sectionbebek2Center3 .img5 {
  width: 100%;
  position: absolute;
  bottom: -50%;
  right: -53%;
}

.sectionbebek2dis {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
}

.sectionbebek2discover {
  display: flex;
  justify-content: space-between;
}
.sectionbebek2discover1 {
  position: relative;
}
.sectionbebek2discover1 h3 {
  font-weight: 800;
  font-family: "Chakra Petch", sans-serif;
  font-size: 10rem;
  line-height: 0.8;
  text-transform: uppercase;
}
.sectionbebek2discover1 img {
  width: 30rem;
  top: -9rem;
  position: absolute;
  z-index: -1;
  margin-left: 6.4rem;
}
.sectionbebek2discover2 {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: -5rem;
  font-size: 2.2rem;
  color: #8C8C8C;
  line-height: 1.7;
}
.sectionbebek2discover2 b {
  color: #000;
}
.sectionbebek2discover3img img {
  width: 20rem;
}
.sectionbebek2discover3img2 {
  position: absolute;
  top: -20rem;
  right: -20rem;
}
.sectionbebek2discover5 {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-bottom: 5rem;
}
.sectionbebek2discover5__left img {
  position: relative;
  width: 24rem;
  top: -10rem;
}
.sectionbebek2discover5__center {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.sectionbebek2discover5__center h4 {
  color: #2b2b2b;
  font-size: 15rem;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dee1e6;
  font-weight: 800;
  font-family: "Chakra Petch", sans-serif;
  line-height: 0.9;
  letter-spacing: -5px;
  position: relative;
  top: -4rem;
}
.sectionbebek2discover5__right {
  margin-left: auto;
}

.sectionprocess {
  position: relative;
  padding: 7rem 0;
  background: url(../webImages/bebek/image4.png) no-repeat;
  background-size: 100%;
}
.sectionprocess_heading {
  font-size: 7rem;
  font-weight: 800;
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
}
.sectionprocess_img {
  position: relative;
  top: -15rem;
  right: 15rem;
}
.sectionprocess_img img {
  width: 25rem;
}
.sectionprocess_Main {
  position: relative;
  top: -10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.sectionprocess_Main-Box-h {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
}
.sectionprocess_Main-Box-h h5 {
  color: #ED1C24;
  font-size: 4rem;
  font-weight: 300;
}
.sectionprocess_Main-Box-h img {
  position: relative;
  width: 4rem;
  top: -1em;
}

.sectionTransforming {
  background: #282633;
  padding: 5rem 0 0;
}
.sectionTransformingcenter {
  position: relative;
  margin: 10rem auto 0;
  width: 86%;
}
.sectionTransformingcenter img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
.sectionTransformingcenter span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 800;
  font-family: "Chakra Petch", sans-serif;
  font-size: 6.5rem;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: center;
  color: #fff;
}
.sectionTransformingImg {
  position: relative;
  top: -5rem;
  margin-bottom: -20rem;
}
.sectionTransformingImg img {
  width: 100%;
}

.sectionOutstanding {
  background: #E5E2F5;
  padding: 15rem 0 5rem;
}
.sectionOutstanding_heading {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.sectionOutstanding_heading h4 {
  font-weight: 800;
  font-family: "Chakra Petch", sans-serif;
  font-style: italic;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.sectionOutstanding_heading h4 span {
  color: #ED1C24;
}
.sectionOutstanding_heading h2 {
  margin-top: 0;
  font-size: 7em;
  font-weight: 800;
  font-family: "Chakra Petch", sans-serif;
  text-transform: uppercase;
  line-height: 0.8;
}
.sectionOutstanding_heading p {
  color: #8C8C8C;
  font-size: 2rem;
}
.sectionOutstandingMain {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 3rem;
  margin-top: 15rem;
}
.sectionOutstandingMain__left {
  position: relative;
}
.sectionOutstandingMain__left span img {
  position: absolute;
  top: -10rem;
}
.sectionOutstandingMain__left .imgd {
  width: 100%;
}
.sectionOutstandingMain__right {
  position: relative;
}
.sectionOutstandingMain__right::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, #E5E2F5 63.79%, rgba(229, 226, 245, 0) 93.52%);
}
.sectionOutstandingMain__right-img .img1 {
  position: absolute;
  top: -9rem;
  right: -2rem;
  width: 10rem;
}
.sectionOutstandingMain__right-img .img2 {
  position: absolute;
  top: -4rem;
  right: -6rem;
  width: 13rem;
}
.sectionOutstandingMain__right .maainimg {
  width: 100%;
}
.sectionOutstandingMain2 {
  position: relative;
  margin-top: -58rem;
}
.sectionOutstandingMain2 .vectorimg {
  position: absolute;
  top: 11rem;
  left: -6rem;
  width: 17rem;
  z-index: 1;
}
.sectionOutstandingMain2 .imgMian {
  width: 100%;
  position: relative;
  z-index: 2;
}

.sectionthankform {
  padding: 10rem 0;
  text-align: center;
}
.sectionthankform h3 {
  font-size: 9rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
  line-height: 0.9;
}
.sectionthankform h5 {
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 400;
  color: #8C8C8C;
}
.sectionthankform h5 b,
.sectionthankform h5 span {
  color: #000;
}

.socialreward {
  background: #282633;
  border: 1px solid rgba(248, 248, 248, 0.3019607843);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
}
.socialreward_img {
  display: flex;
}
.socialreward_img-Box img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid #fff;
}
.socialreward_img-Box2 {
  position: relative;
  margin-left: -2rem;
}
.socialreward_img-Box3 {
  position: relative;
  margin-left: -2rem;
  margin-top: -5rem;
}
.socialreward_img-Box3 img {
  width: 10rem;
  height: 10rem;
}
.socialreward_star img {
  width: 3rem;
}

.mySwiper3 {
  display: none;
}

@media screen and (max-width: 979px) {
  .mySwiper3 {
    display: block;
  }
  .mySwipercc {
    display: none;
  }
}
@media screen and (max-width: 979px) {
  .section7Main.dblo {
    display: none;
  }
  .section7Main.d-none {
    display: block;
  }
  .section5MainM {
    display: none;
  }
  .section5MainSwiper {
    display: block;
  }
  .section5MainBottom {
    display: block;
  }
  .aboutBanner_ {
    flex-direction: column;
    gap: 0;
  }
  .aboutBanner__left {
    width: 100%;
    text-align: center;
  }
  .aboutBanner__left img {
    display: none;
  }
  .aboutBanner__left br {
    display: none;
  }
  .aboutBanner__right {
    display: none;
  }
  .sectionabout .imageback {
    display: none;
  }
  .sectionabouth h4 {
    font-size: 3rem;
  }
  .sectionaboutBox {
    flex-direction: column;
  }
  .sectionaboutBox2_ {
    flex-direction: column;
  }
  .sectionaboutBox2__right {
    order: 1 !important;
  }
  .sectionaboutBox2__right img {
    max-width: 100%;
  }
  .sectionaboutBox2__left {
    order: 2 !important;
  }
  .portfolioBannertext {
    width: 100%;
  }
  .portfolioBannertext h1 {
    font-size: 4rem;
  }
  .sectionContact_ {
    flex-direction: column;
  }
  .sectionContact__left {
    width: 100%;
  }
  .sectionContact__right {
    width: 100%;
  }
  .blogInnerMain {
    grid-template-columns: 1fr;
  }
  .blogInnerMainLeft {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .sectionBLogMain {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 461px) {
  .header__right > ul {
    width: 15rem;
  }
  .header__right-dropdown {
    right: -145%;
    width: 219px;
    background: #000;
  }
  .portfolioBannertext {
    width: 100%;
  }
  .portfolioBannertext h1 {
    font-size: 4rem;
  }
  .sectionBLogMain {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionBLog .moreCOntant {
    position: absolute;
    bottom: -11rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sectionSEOMain_top {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionSEOMain_bottom_ {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */