@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  overflow: hidden;
  width: 100%;
}

@font-face {
  font-family: "Chillax-Variable";
  src: url("../css/fonts/Chillax-Variable.woff2") format("woff2"), url("../css/fonts/Chillax-Variable.woff") format("woff"), url("../css/fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Extralight";
  src: url("../css/fonts/Chillax-Extralight.woff2") format("woff2"), url("../css/fonts/Chillax-Extralight.woff") format("woff"), url("../css/fonts/Chillax-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Light";
  src: url("../css/fonts/Chillax-Light.woff2") format("woff2"), url("../css/fonts/Chillax-Light.woff") format("woff"), url("../css/fonts/Chillax-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Regular";
  src: url("../css/fonts/Chillax-Regular.woff2") format("woff2"), url("../css/fonts/Chillax-Regular.woff") format("woff"), url("../css/fonts/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Medium";
  src: url("../css/fonts/Chillax-Medium.woff2") format("woff2"), url("../css/fonts/Chillax-Medium.woff") format("woff"), url("../css/fonts/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Semibold";
  src: url("../css/fonts/Chillax-Semibold.woff2") format("woff2"), url("../css/fonts/Chillax-Semibold.woff") format("woff"), url("../css/fonts/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Bold";
  src: url("../css/fonts/Chillax-Bold.woff2") format("woff2"), url("../css/fonts/Chillax-Bold.woff") format("woff"), url("../css/fonts/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* ------------------Typography------------------ */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 1.4rem;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-thumb {
  background: #EB5939;
  border-radius: 1rem 0px 1rem 0px;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin: 1rem 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify_center {
  justify-content: center;
}

.grid {
  display: grid;
}
.grid-col90 {
  grid-template: auto/5fr 90fr 5fr;
}
.grid-col90 .block__inner {
  grid-column: 3/2;
}
.grid-col80 {
  grid-template: auto/10fr 80fr 10fr;
}
.grid-col80 .block__inner {
  grid-column: 3/2;
}
.grid-col70 {
  grid-template: auto/15fr 70fr 15fr;
}
.grid-col70 .block__inner {
  grid-column: 3/2;
}
.grid-col60 {
  grid-template: auto/20fr 60fr 20fr;
}
.grid-col60 .block__inner {
  grid-column: 3/2;
}
.grid-col50 {
  grid-template: auto/25fr 50fr 25fr;
}
.grid-col50 .block__inner {
  grid-column: 3/2;
}
.grid-col40 {
  grid-template: auto/30fr 40fr 30fr;
}
.grid-col40 .block__inner {
  grid-column: 3/2;
}

.block__1x2 {
  grid-template: auto/repeat(2, 1fr);
}
.block__1x3 {
  grid-template: auto/repeat(3, 1fr);
}

.padding-vertical {
  padding: 4rem 0;
}

.flex_ {
  display: flex;
}

.flex_center {
  justify-content: center;
}

.flex_space {
  justify-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.align_center {
  align-items: center;
}

.vertical__padding {
  padding: 4rem 0;
}

.grid {
  display: grid;
}

.grid_2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid_3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid_4 {
  grid-template-columns: repeat(4, 1fr);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__item {
  line-height: 1.8;
}
.list-inline {
  display: flex;
}
.list-inline .list__item {
  font-weight: 500;
  text-transform: uppercase;
}

.btn {
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  color: #fff;
  border-radius: 3rem;
  padding: 10px 30px 10px 30px;
  font-size: 2rem;
  color: #fff;
}
.btn:hover {
  color: #fff;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.media__img {
  width: 30%;
}
.media__img img {
  width: 100%;
}
.media__body {
  width: 70%;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 1rem 0;
}
.header__left ul, .header__right ul {
  gap: 3rem;
}
.header__left ul a, .header__right ul a {
  font-size: 1.6rem;
  color: #fff;
}
.header__center {
  padding: 0 3rem;
}
.header__center--right h1 {
  font-size: 3.9rem;
  font-family: "Chillax-Semibold";
  color: #fff;
}
.header__center--right h1 span {
  color: #EB5939;
  font-weight: 300;
}
.header .socialIcon {
  position: absolute;
  right: 2%;
}

.banner {
  position: relative;
}
.banner .main1 {
  background: #000000;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .main2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.bannerTxt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  left: 10%;
  width: 40%;
}
.bannerTxt h2 {
  color: #fff;
  font-size: 6rem;
  font-weight: 800;
}
.bannerTxt h2 span {
  color: #EB5939;
}
.bannerTxt_2 {
  margin: 3rem 0 5rem;
  padding-left: 5rem;
}
.bannerTxt_2 li {
  gap: 2rem;
}
.bannerTxt_2 li img {
  -o-object-fit: contain;
     object-fit: contain;
}
.bannerTxt_2 li span {
  font-size: 1.7rem;
  font-style: italic;
  color: #fff;
}
.bannerTxt2 {
  position: absolute;
  z-index: 3;
  background: rgba(217, 217, 217, 0.08);
  border-radius: 2rem;
  bottom: 10%;
  right: 10%;
  width: 40%;
  color: #fff;
  padding: 1rem;
}
.bannerTxt2__left {
  position: relative;
  left: -3rem;
}
.bannerTxt2 h3 {
  font-size: 1.6rem;
  font-size: 500;
}
.bannerTxt2 span {
  width: 1.4rem;
  position: relative;
  background: linear-gradient(180deg, #EB5939 0%, #F3A157 100%), linear-gradient(180deg, #EB5939 55.7%, #FE980E 100%, #FE980E 100%);
  /* border: 4px solid; */
  /* border-image-source: linear-gradient(180deg, #EB5939 0%, #F3A157 100%); */
  height: 40px;
  display: block;
  margin-right: 0.7rem;
  border-radius: 1rem;
}
.bannerTxt2 p {
  display: flex;
  font-size: 1rem;
}
.bannerTxt2 .bannerTxt2img {
  align-self: flex-end;
}/*# sourceMappingURL=main.css.map */